body {
    font-family: Arial, sans-serif;
    text-align: center;
}
.btn {
    display: flex;
    justify-content: center;
    align-items: center; /* จัดให้อยู่กลางแนวตั้ง */
    padding: 10px 20px;
    background-color: rgb(0, 119, 255);
    border-radius: 5px;
    width: 50%;
    margin:  auto; /* จัดให้อยู่กลาง */
    color: white;
}
input {
    padding: 10px;
    width: 250px;
    margin: 10px;
}

button {
    padding: 10px 20px;
    background-color: rgb(0, 145, 255);
    color: white;
    border: none;
    cursor: pointer;
    border-radius: 5px;
    font-size: 15px;
}

button:hover {
    background-color: rgb(0, 60, 128);
}

ul {
    list-style-type: none;
    padding: 0;
}

li {
    background: #f8f9fa;
    padding: 10px;
    margin: 5px;
    border-radius: 5px;
}
/*.btn {
    text-align: center;
    width: 50%;
    padding: 2px 10px;
    font-size:18px;
    margin: 10px;
    border-radius: 5px;
    background-color: #007bff;
    color: white;
    
    
}